.ScoreScreen
	background: $darkest
	text-align: center
	min-height: 100vh
	padding-top: 5%

	p:first-of-type
		margin-top: 0

	.score
		color: $light
		font-weight: 500

	button
		margin: 32px
		padding: 12px 32px
		font-weight: 600
		color: $accent
		background: #222
		border: none
		border-radius: 5px
		cursor: pointer
		&:hover
			background: $dark
